@model CWXPMigration.Models.ContentMigrationModel

@using (Html.BeginForm("Index", "ContentMigration", FormMethod.Post))
{
    <label>Enter Sitecore Item Path Or ID:</label>
    <input type="text" name="itemPath" value="@Model.ItemPath" style="width:400px;" />

    <br />
    <br />

    <label>Select Environment:</label>
    <select name="environment" style="width:200px;">
        <option value="DEV" @(Model.Environment == "DEV" ? "selected" : "")>DEV</option>
        <option value="UAT" @(Model.Environment == "UAT" ? "selected" : "")>UAT</option>
        <option value="PROD" @(Model.Environment == "PROD" ? "selected" : "")>PROD</option>
    </select>

    <br />
    <br />

    <label>
        <input type="checkbox" name="reimport" @(Model.Reimport ? "checked=\"checked\"" : "") />
        Reimport Pages and Data Sources
    </label>

    <br />
    <br />

    <button type="submit">Submit</button>
}


@if (Model.Items != null && Model.Items.Any())
{
    foreach (var model in Model.Items)
    {
        var path = model.Page;
        <h2>Page: @path</h2>
        if (model.Fields.Any())
        {
            <h3>Item Fields</h3>
            <table border="1" cellpadding="5" cellspacing="0">
                <tr><th>Field Name</th><th>Value</th><th>Type</th></tr>
                @foreach (var field in model.Fields)
                {
                    <tr>
                        <td>@field.Name</td>
                        <td>@Html.Raw(field.Value)</td>
                        <td>@Html.Raw(field.Type)</td>
                    </tr>
                }
            </table>
        }
        if (model.Renderings.Any())
        {
            <h3>Renderings on Page</h3>
            <table border="1" cellpadding="5" cellspacing="0">
                <tr><th>Rendering ID</th><th>Data Source ID</th></tr>
                @foreach (var r in model.Renderings)
                {
                    <tr>
                        <td>@r.RenderingName</td>
                        <td>@r.DatasourceID</td>
                    </tr>
                }
            </table>
        }
        if (model.DataSources.Any())
        {
            <h3>Data Source Items</h3>
            foreach (var ds in model.DataSources)
            {
                <h4>@ds.Path (@ds.ID)</h4>
                <table border="1" cellpadding="5" cellspacing="0">
                    <tr><th>Field Name</th><th>Value</th><th>Type</th></tr>
                    @foreach (var field in ds.Fields)
                    {
                        <tr>
                            <td>@field.Name</td>
                            <td>@Html.Raw(field.Value)</td>
                            <td>@Html.Raw(field.Type)</td>
                        </tr>
                    }
                </table>
                <br />
            }
        }
    }

}
